body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 16px;
}

[role=main] {
  margin-top: 40px;
}

a {
  text-decoration: none;
}

@media screen and (max-width : 480px) {
  [role=main] {
    margin-top: 10px;
  }
}
